node_modules/
build/temp/
dist/
npm-debug.log
.ftpauth
# Ignore Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
/.vs
Web.config
applicationhost.config

*.tar
*.ftppass
.grunt
*.tgz
Web.config
applicationhost.config
