node_modules/
build/temp/emp-receiver-app.js
dist/
build/temp/emp-receiver.css
npm-debug.log
.ftpauth
# Ignore Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
Web.config
applicationhost.config

*.tar
*.ftppass
.grunt
*.tgz
Web.config
applicationhost.config
