@keyframes loading-bar {
  from {
    margin-left: -100%; }
  to {
    margin-left: 100%; } }

@keyframes fadeOutFadeIn {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

body {
  margin: 0; }

.video-js {
  width: 100vw;
  height: 100vh; }

.video-js .vjs-control-bar {
  display: none;
  visibility: visible !important;
  opacity: 1 !important;
  transition: none !important; }

.receiver .logo {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-image: url("../images/logo.png");
  margin-bottom: -67px;
  margin-left: -400px;
  width: 800px;
  height: 133px;
  animation: fadeOutFadeIn 4s infinite; }

.receiver .readytocast {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 12%;
  left: 50%;
  background-image: url("../images/readytocast.png");
  margin-bottom: -26px;
  margin-left: -168px;
  width: 337px;
  height: 52px; }

.receiver .emp-error-display {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  color: #f00;
  text-align: center;
  z-index: 99;
  font-family: Verdana;
  font-weight: 600;
  letter-spacing: 1px; }

.receiver-spinner {
  -webkit-animation: spin 1s infinite linear;
  display: block;
  background-repeat: no-repeat;
  margin-top: 1.5em;
  margin-left: 2.0em;
  display: none; }

.video-js .receiver-play-control {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }

.video-js .vjs-control-bar {
  height: 15em;
  opacity: 1 !important;
  transition: opacity 0.5s !important;
  padding: 4em;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0) 72%, rgba(0, 0, 0, 0) 100%); }

.video-js .vjs-play-progress:before {
  display: none; }

.video-js .receiver-play-control {
  width: 6em; }
  .video-js .receiver-play-control:before {
    font-size: 6em;
    line-height: 1.2em; }

.video-js .vjs-time-control {
  font-size: 2em;
  line-height: 3.3em; }

.video-js .vjs-progress-holder,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div {
  height: 1em; }

.video-js .vjs-progress-control:hover .vjs-progress-holder,
.video-js .vjs-progress-control .vjs-progress-holder {
  font-size: inherit; }

.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display,
.video-js .vjs-progress-control:hover .vjs-mouse-display {
  display: none; }

.video-js .vjs-current-time {
  display: block; }

.receiver .vjs-live .vjs-progress-control {
  display: inherit; }

.video-js.vjs-live .vjs-current-time {
  display: none; }

.video-js.vjs-live .vjs-progress-control {
  display: none; }

.receiver[state="launching"] .logo {
  display: block; }

.receiver[state="idle"] .logo {
  display: block; }

.receiver[state="idle"] .readytocast {
  display: block; }

.receiver[state="loading"] .vjs-play-progress.vjs-slider-bar {
  width: 60% !important;
  animation: loading-bar 2s infinite linear; }

.receiver[state="loading"] .video-js .vjs-slider {
  overflow: hidden; }

.receiver[state="loading"] .video-js .vjs-progress-holder .vjs-load-progress,
.receiver[state="loading"] .video-js .receiver-play-control,
.receiver[state="loading"] .video-js .vjs-current-time,
.receiver[state="loading"] .video-js .vjs-time-control {
  display: none !important; }

.receiver[state="loading"] .video-js .vjs-control-bar {
  display: flex; }

.receiver[state="loading"] .emp-mediainfo-bar {
  display: flex; }

.receiver[type="video"][state="paused"] .video-js .vjs-control-bar {
  display: flex; }

.receiver[type="video"][state="paused"] .emp-mediainfo-bar {
  display: flex; }

.receiver[type="video"][state="paused"] .video-js .receiver-play-control:before {
  content: '\f103'; }

.receiver[type="video"][state="playing"] .video-js .vjs-control-bar {
  display: flex; }

.receiver[type="video"][state="playing"] .emp-mediainfo-bar {
  display: flex; }

.receiver[type="video"][state="playing"] .vjs-live .vjs-progress-control {
  display: none; }

.receiver[type="video"][state="playing"] .video-js .receiver-play-control:before {
  content: '\f101'; }

.receiver[type="video"][state="playing"] .video-js .vjs-control-bar {
  transition-delay: 5s !important;
  opacity: 0 !important; }

.receiver[type="video"][state="playing"] .emp-mediainfo-bar {
  transition-delay: 5s !important;
  opacity: 0 !important; }

.receiver[type="video"][state="seeking"] .vjs-play-progress.vjs-slider-bar {
  width: 60% !important;
  animation: loading-bar 2s infinite linear; }

.receiver[type="video"][state="seeking"] .video-js .vjs-slider {
  overflow: hidden; }

.receiver[type="video"][state="seeking"] .video-js .vjs-control-bar {
  display: flex; }

.receiver[type="video"][state="seeking"] .emp-mediainfo-bar {
  display: flex; }

.receiver[type="video"][state="update"] .video-js .vjs-control-bar {
  display: flex; }

.receiver[type="video"][state="update"] .emp-mediainfo-bar {
  display: flex; }

.emp-mediainfo-bar {
  bottom: 10em;
  left: 4em;
  right: 4em;
  background-color: rgba(43, 51, 63, 0.7);
  border-radius: 0.5em;
  position: absolute;
  overflow: hidden;
  padding: 0 10px;
  display: none;
  opacity: 1 !important;
  transition: opacity 0.5s !important; }

.vjs-controls-disabled .emp-mediainfo-bar,
.vjs-using-native-controls .emp-mediainfo-bar,
.vjs-error .emp-mediainfo-bar {
  display: none !important; }

.vjs-audio.vjs-has-started.vjs-user-inactive.vjs-playing .emp-mediainfo-bar {
  opacity: 1;
  visibility: visible; }

.emp-mediainfo-bar .emp-media-logo {
  margin: 0;
  width: 5.0em;
  height: 5.0em;
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0.5em; }

.emp-mediainfo-bar .emp-media-artwork {
  align-self: flex-start;
  width: 155px;
  height: 100px;
  margin: 5px;
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left; }

.emp-mediainfo-bar .emp-media-text {
  align-self: flex-start;
  float: left;
  width: 60%;
  margin: 1em;
  line-height: normal;
  text-align: left; }

.emp-mediainfo-bar .emp-media-title {
  font-family: 'Arial';
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.emp-mediainfo-bar .emp-media-subtitle {
  color: rgba(203, 203, 203, 0.8);
  font-family: 'Arial';
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  max-height: 3.5em; }

.still-watching {
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Arial';
  color: white;
  background: rgba(38, 38, 38, 0.9);
  background-color: rgba(38, 38, 38, 0.9);
  font-size: 3.0em;
  text-align: center;
  width: 100%;
  height: 1.5em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden; }

.vjs-seeking .vjs-loading-spinner {
  display: none; }

.vjs-texttrack-settings {
  display: none !important; }

.vjs-text-track-display {
  display: none !important; }

.video-js.vjs-user-inactive.vjs-playing video::-webkit-media-text-track-display {
  overflow: visible !important;
  transform: translateY(1.5em);
  line-height: 0.5; }

/*The following webkit-media-text-track-display overflow is allow for more padding around Chrome's caption text:*/
video::-webkit-media-text-track-display {
  overflow: visible !important;
  transform: translateY(1.5em);
  line-height: 0.5; }

video::cue {
  background: none;
  color: #fff;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, black 0.1em 0.1em 0.2em;
  /*white-space: pre-line;*/
  /*font-weight: bold;*/
  font-family: sans-serif;
  /*letter-spacing: 1px;*/
  font-size: 1em; }
