@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes loading-bar {
  from {
    margin-left: -100%; }
  to {
    margin-left: 100%; } }

@keyframes fadeOutFadeIn {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

body {
  margin: 0; }

.video-js {
  width: 100vw;
  height: 100vh; }

.video-js .vjs-control-bar {
  display: none;
  visibility: visible !important;
  opacity: 1 !important;
  transition: none !important; }

.receiver .logo {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-image: url("../images/logo.png");
  margin-bottom: -96px;
  margin-left: -96px;
  width: 192px;
  height: 192px;
  animation: fadeOutFadeIn 4s infinite; }

.receiver .media-info {
  position: absolute;
  bottom: 7em;
  left: 3.6em;
  display: none;
  overflow: hidden; }

.receiver .media-artwork {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: flex-end;
  min-height: 100px;
  margin-right: 2.0em;
  min-width: 155px;
  float: left; }

.receiver .media-text {
  align-self: flex-end;
  float: left;
  width: 800px; }

.receiver .media-info .media-title {
  font-family: 'Arial';
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.receiver .media-info .media-resolution {
  font-family: 'Arial';
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  padding: 4px;
  border-radius: 3px;
  font-weight: 600;
  position: relative;
  bottom: 6px;
  display: none; }

.receiver .emp-error-display {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  color: #f00;
  text-align: center;
  z-index: 99;
  font-family: Verdana;
  font-weight: 600;
  letter-spacing: 1px; }

.receiver .media-info .media-subtitle {
  color: rgba(203, 203, 203, 0.8);
  font-family: 'Arial';
  font-size: 1.5em;
  overflow: hidden;
  margin-top: 10px; }

.receiver .media-info .media-subtitle span:not(:first-child):before {
  content: '\00B7';
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold; }

.receiver-spinner {
  -webkit-animation: spin 1s infinite linear;
  display: block;
  background-repeat: no-repeat;
  margin-top: 1.5em;
  margin-left: 2.0em;
  display: none; }

.video-js .receiver-play-control {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }

.video-js .vjs-control-bar {
  height: 15em;
  opacity: 0.9;
  padding: 4em;
  background: linear-gradient(to top, black, transparent 72%, transparent 100%); }

.video-js .vjs-play-progress:before {
  display: none; }

.video-js .receiver-play-control {
  width: 6em; }
  .video-js .receiver-play-control:before {
    font-size: 6em;
    line-height: 1.2em; }

.video-js .vjs-time-control {
  font-size: 2em;
  line-height: 3.3em; }

.video-js .vjs-progress-holder,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div {
  height: 1em; }

.video-js .vjs-progress-control:hover .vjs-progress-holder,
.video-js .vjs-progress-control .vjs-progress-holder {
  font-size: inherit; }

.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display,
.video-js .vjs-progress-control:hover .vjs-mouse-display {
  display: none; }

.video-js .vjs-current-time {
  display: block; }

.receiver .vjs-live .vjs-progress-control {
  display: inherit; }

.video-js.vjs-live .vjs-current-time {
  display: none; }

.receiver[state="launching"] .receiver-spinner {
  display: none;
  z-index: 1;
  bottom: 5%;
  left: 50%;
  margin-left: -16px;
  position: absolute; }

.receiver[state="launching"] .logo {
  display: block; }

.receiver[state="idle"] .receiver-spinner {
  display: none; }

.receiver[state="idle"] .logo {
  display: block; }

.receiver[state="loading"] .vjs-play-progress.vjs-slider-bar {
  width: 60% !important;
  animation: loading-bar 2s infinite linear; }

.receiver[state="loading"] .video-js .vjs-slider {
  overflow: hidden; }

.receiver[state="loading"] .video-js .vjs-progress-holder .vjs-load-progress,
.receiver[state="loading"] .video-js .receiver-play-control,
.receiver[state="loading"] .video-js .vjs-current-time,
.receiver[state="loading"] .video-js .vjs-time-control {
  display: none; }

.receiver[state="loading"] .video-js .vjs-control-bar,
.receiver[state="loading"] > .media-info {
  display: flex; }

.receiver[state="loading"] > .logo {
  display: block;
  bottom: 7em;
  margin: 0;
  left: auto;
  right: 3em;
  height: 75px;
  width: 75px;
  animation: none; }

.receiver[type="video"][state="paused"] > .media-info,
.receiver[type="video"][state="paused"] .video-js .vjs-control-bar {
  display: flex; }

.receiver[type="video"][state="paused"] > .logo {
  display: block;
  bottom: 7em;
  margin: 0;
  left: auto;
  right: 3em;
  height: 75px;
  width: 75px;
  animation: none; }

.receiver[type="video"][state="paused"] .video-js .receiver-play-control:before {
  content: '\f103'; }

.receiver[type="video"][state="paused"] .video-js .vjs-progress-holder .vjs-load-progress,
.receiver[type="video"][state="paused"] .video-js .vjs-current-time,
.receiver[type="video"][state="paused"] .video-js .vjs-time-control,
.receiver[type="video"][state="paused"] .video-js .vjs-progress-control,
.receiver[type="video"][state="paused"] > .logo,
.receiver[type="video"][state="paused"] > .media-info {
  animation: fade-out2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5s; }

.receiver[type="video"][state="playing"] > .media-info,
.receiver[type="video"][state="playing"] .video-js .vjs-control-bar {
  display: flex; }

.receiver[type="video"][state="playing"] > .logo {
  display: block;
  bottom: 7em;
  margin: 0;
  left: auto;
  right: 3em;
  height: 75px;
  width: 75px;
  animation: none; }

.receiver[type="video"][state="playing"] .vjs-live .vjs-progress-control {
  display: none; }

.receiver[type="video"][state="playing"] .video-js .receiver-play-control:before {
  content: '\f101'; }

.receiver[type="video"][state="playing"] .video-js .vjs-control-bar,
.receiver[type="video"][state="playing"] > .logo,
.receiver[type="video"][state="playing"] > .media-info {
  animation: fade-out 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5s; }

.receiver[state="buffering"] .vjs-play-progress.vjs-slider-bar, .receiver[state="seeking"] .vjs-play-progress.vjs-slider-bar {
  width: 60% !important;
  animation: loading-bar 2s infinite linear; }

.receiver[state="buffering"] .video-js .vjs-slider, .receiver[state="seeking"] .video-js .vjs-slider {
  overflow: hidden; }

.receiver[state="buffering"] .video-js .vjs-control-bar,
.receiver[state="buffering"] > .media-info, .receiver[state="seeking"] .video-js .vjs-control-bar,
.receiver[state="seeking"] > .media-info {
  display: flex; }

.receiver[state="buffering"] .receiver-spinner, .receiver[state="seeking"] .receiver-spinner {
  display: block; }

.vjs-texttrack-settings {
  display: none !important; }

.vjs-text-track-display {
  display: none !important; }

.video-js.vjs-user-inactive.vjs-playing video::-webkit-media-text-track-display {
  overflow: visible !important;
  transform: none; }

/*The following webkit-media-text-track-display overflow is allow for more padding around Chrome's caption text:*/
video::-webkit-media-text-track-display {
  overflow: visible !important;
  transform: none; }

video::cue {
  background: none;
  color: #fff;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, black 0.1em 0.1em 0.2em;
  /*white-space: pre-line;*/
  /*font-weight: bold;*/
  font-family: sans-serif;
  /*letter-spacing: 1px;*/
  font-size: 1em; }
