.video-js .vjs-control-bar {
  height: $control-bar-height;
  opacity: 0.9;
  padding: $control-bar-padding;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1.0),
    rgba(0, 0, 0, 0.0) 72%,
    rgba(0, 0, 0, 0.0) 100%
  );
}

// hide progessbar handle
.video-js .vjs-play-progress:before {
  display: none;
}

// bigger play/pause control
.video-js .receiver-play-control {
  width: 6em;
  
  &:before {
    font-size: 6em;
    line-height: 1.2em;
  }
}

// bigger time display
.video-js .vjs-time-control {
  font-size: 2em;
  line-height: 3.3em;
}

// bigger progressbar
.video-js .vjs-progress-holder,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div {
  height: $progress-bar-height;
}
.video-js .vjs-progress-control:hover .vjs-progress-holder, 
.video-js .vjs-progress-control .vjs-progress-holder {
  font-size: inherit;
}

// Hide mouse related elements
.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display,
.video-js .vjs-progress-control:hover .vjs-mouse-display {
  display: none;
}

// Display current time
.video-js .vjs-current-time {
  display: block;
}

.video-js.vjs-live .vjs-current-time {
  display: none;
}